<p-toast key="tst"></p-toast>
		<div class="card p-fluid">
			<h5>Actions</h5>
			<div class="p-formgrid grid">
				<div class="col-3 md:col-3 h-full">
        <button pButton pRipple type="button" label="Clean Chromiun Build" class="p-button-raised p-button-secondary" (click)="confirmclean($event)">
          <p-confirmPopup key="confirmclean"></p-confirmPopup>
        </button>
				</div>
			</div>


<div class="grid">

	<div class="col-12">
		<div class="card">
			<h5>Regisered Numbers</h5>

			<p-table scrollDirection="both" [value]="tableData" [scrollable]="true" [paginator]="true" [rows]="10" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">

				<ng-template pTemplate="header">
					<tr>
						<th style="width:200px">Id</th>
						<th style="width:200px">USer Name</th>
						<th style="width:200px">Number</th>
						<th style="width:200px">RegisterUTCTime</th>
						<th style="width:200px">Active</th>
						<th style="width:200px">Eliminar</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-registernumber>
					<tr>
						<td style="width:200px" pFrozenColumn  class="font-bold">{{registernumber.id}}</td>
						<td style="width:200px" alignFrozen="left" >{{registernumber.userName}}</td>
						<td style="width:200px">{{registernumber.number}}</td>
						<td style="width:200px">{{registernumber.registerUTCTime}}</td>
						<td style="width:200px" pFrozenColumn  class="font-bold" alignFrozen="right">{{registernumber.isActive}}</td>
            <td><p-button type="button" icon="pi pi-trash" (click)="confirmdelete($event,registernumber.id)">
              <p-confirmPopup key="confirmdelete"></p-confirmPopup>
            </p-button></td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>
		</div>



