 <p-toast key="tst"></p-toast>
<div class="flex flex-column align-items-center justify-content-center h-full py-8 px-3">

		<div class="card p-fluid">
			<h5>Sender Number</h5>
			<div class="p-formgrid grid">
				<div class="field col">

        <input type="text" [(ngModel)]="number" pInputText pAutoFocus [autofocus]="true" required placeholder="#"/>
        <input type="text" [(ngModel)]="number" pInputText pAutoFocus [autofocus]="true" required placeholder="#"/><br><br>
        <button pButton pRipple type="button" label="Start Register" class="p-button-raised p-button-secondary" (click)="startRegister()"></button>
				</div>
			</div>
		</div>
</div>


